<h1>Welcome to the Pokedex!</h1>
<p>Search for a pokemon by its name or id to see its information</p>
<app-poke-search></app-poke-search>
<nav>
    <!-- 
        "/home" is an absolute navigation path: when we click it the page navigates
        to "localhost:4200/home" 
    -->
    <a routerLink="/home">Pokemon Home </a>
    <!-- 
        Without the "/" these paths are relative: they are appended to whatever
        the url currently is. Because we access this component at the "/home"
        endpoint clicking these links navigates to "/home/name" and "/home/sprite"
        respectively
    -->
    <a routerLink="name">Pokemon Name </a>
    <a routerLink="sprite">Pokemon Sprites </a>
</nav>
<router-outlet />

<!-- 
    beforehand we were directly rendering these components in the home
    component, but now we are controlling access to them through the
    routing feature

    <app-poke-name></app-poke-name>
    <app-poke-sprite></app-poke-sprite>
-->
